#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.date-sort-buttons {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  max-height: 40vh;
  width: 25vw;
}

.edit-delete-buttons {
  background-color: transparent;
  padding: 0;
  border-radius: 8px;
  border: none;
  font-size: 1em;
  color: #000;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  flex: 1;
}

.edit-delete-buttons:hover {
  background-color: rgba(171, 171, 214, 0.644);
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: rgb(37, 37, 37);
  z-index: 1000;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1vh;
}

.graphs {
  width: 100%;
  height: 100%;
}

.transaction-display {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-section {
  width: 20vw;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.left-section {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middle-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 60vw;
  height: 87.5vh;
}

.top-section {
  height: 7.5vh;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-section {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px;
  width: 95vw;
}

.input-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-container {
  display: flex;
  gap: 2.5px;
}

.select {
  background-color: lightblue;
}

.transaction {
  display: flex;
  border: 1px solid;
  border-radius: 25px;
  border-color: transparent;
  margin: 1px 0px;
  width: 50vw;
}