#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-container {
  display: flex;
  gap: 2.5px;
}

.select {
  background-color: lightblue;
}

.transaction {
  display: flex;
  border: 1px solid;
  border-radius: 50px;
  border-color: transparent;
  margin: 1px 0px
}