#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 95vh;
}

.right-section {
  width: 20vw;
  height: 30vh;
}

.left-section {
  width: 20vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 60vw;
}

.input-container {
  display: flex;
  gap: 2.5px;
}

.select {
  background-color: lightblue;
}

.transaction {
  display: flex;
  border: 1px solid;
  border-radius: 50px;
  border-color: transparent;
  margin: 1px 0px;
  width: 40vw;
}